<div class="container">
    <div class="row">
        <div class="col-6 mx-auto form-col pt-5">
            <div class="card card-body">
                <div class="form-title mx-auto pb-3">
                    <h3>Добавляйте задачи здесь</h3>
                </div>
                <!-- /.form-title mx-auto pb-3 -->
                <form name="add-todo-form" #addTodoForm="ngForm" (ngSubmit)="onSubmitHandler(addTodoForm)" novalidate>
                    <div class="form-group">
                        <input type="text" [(ngModel)]="title" name="title" #titleInput="ngModel" class="form-control" placeholder="Введите заголовок задачи" required>
                    </div>
                    <!-- /.form-group -->
                    <div class="form-group">
                        <input type="text" [(ngModel)]="text" name="text" #textInput="ngModel" class="form-control" placeholder="Введите текст задачи" required>
                    </div>
                    <!-- /.form-group -->
                    <div class="btns-group d-flex justify-content-center">
                        <button type="submit" class="btn btn-primary col-5">Добавить</button>
                        <button type="button" class="btn btn-secondary ml-1 col-5" (click)="clearForm(addTodoForm)">Очистить</button>
                    </div>
                    <!-- /.btns-group -->
                </form>
            </div>
            <!-- /.card card-body -->
        </div>
        <!-- /.col-6 -->
    </div>
    <!-- /.row -->
</div>
<!-- /.container -->